body {
    margin: 0;
    padding: 0;
    background: linear-gradient(120.39deg, #a9abfb 11.61%, #BA84A2 114.96%), #7E1AFC no-repeat;
    /*width: 1364px;
    height: 657px;*/
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

header {
    width: auto;
    height: 80px;
    background: #FFFFFF;
    margin-bottom: 50px;
}

.username {
    width: 100px;
    height: 20px;
    color: black;
    font-weight: 600;
    font-family: roboto;
}

.userMail {
    width: 50px;
    height: 20px;
    font-size: 12px;
}

.signinWrapper {
    width: auto;
    height: 384px;
    box-sizing: border-box;
    top: 180px;
    left: 475px;
    background: #FFFFFF;
    box-shadow: 0px 4px 47px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    text-align: center;
}

.signinWrapper.invisible {
    display: none;
}

h1 {
    height: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 27.8578px;
    font-family: montserrat;
    color: #000000;
    box-sizing: border-box;
    display: inline-block;
}

span {
    box-sizing: border-box;
    color: #8B8787;
    font-family: roboto;
    display: block;
}

form {
    position: inherit;
}

.loginUsername,
.password,
.submit {
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    border: 1px solid #BCBFC6;
    width: 80%;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.submit {
    background: #296DE8;
    border: 1px solid #296DE8;
    color: #FFFFFF;
    padding: 0;
    text-align: center;
}

.error {
    width: 350px;
    height: 50px;
    display: none;
    box-sizing: border-box;
    font-family: roboto;
    font-weight: 500;
    border: 1px solid silver;
    padding: 13px 0 0 25px;
    border-radius: 5px;
}

.error.visible {
    /*eğer bir elementte hem error hem de visible classı varsa demek */
    display: inline-block;
}